<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ pageTitle }}</h1>
</div>

<div class="table-responsive">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm" method="GET">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="user.username" name="username">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
